<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.wsn.conference.Dao.HotelDao">
    <resultMap id="HotelDataMap" type="Hotel">
        <id property="id" column="id" />
        <result property="message" column="message" />
    </resultMap>

    <select id="getHotelData" resultMap="HotelDataMap">
        SELECT
            *
        FROM
            hotel_tb
    </select>

    <insert id="postHotelData">
        INSERT INTO
            hotel_tb (message)
        VALUES
            (#{message,jdbcType=LONGVARCHAR})
    </insert>

    <delete id="deleteAllData">
        DELETE FROM
            hotel_tb
    </delete>

</mapper>